#needs1
{
 background: whitesmoke;
 margin-bottom: 20px;
 padding-bottom: 10px;
 margin-left: 20px;
 
}
 #phone
 {
 text-decoration: none;
 font-size: 20px;
 color: black;
 padding-top:25px;
 padding-left: 110px;
 }
 #mail
 {
 text-decoration: none;
 font-size: 20px;
 color: black;
 padding-top:25px;
 margin-left: 650px;

 }
#youtube
 {
     margin-left: 40px;
 }
 
 #instagram
 {
     margin-left: 40px;
 }

 #taplogo
 {
     margin-left: 100px;
 }

 .Home{
     cursor: pointer;
     border: 1px solid white;
     background-color: white;
     font-size: 20px;
     height: 50px;
     width: 65px;
     padding-left: 13px;
     margin-left: 80px;
 }

.Home:hover
 {
   text-decoration: none;
   background-color: white;
   color: rgb(51, 255, 207);
 }

 .course
 {
     cursor: pointer;
     border: 1px solid white;
     background-color: white;
     font-size: 20px;
     height: 50px;
     width: 70px;
     padding-left: 5px;
     margin-left: 20px;
 }
 .course:hover
 {

     text-decoration: none;
     background-color: white;
     color: rgb(51, 255, 207);
   
 }

.reviews
{
 cursor: pointer;
      border: 1px solid white;
     background-color: white;
     font-size: 20px;
     height: 50px;
     width: 150px;
     padding-left: 5px;
     margin-left: 20px;
}

.reviews:hover
{

   text-decoration: none;
   background-color: white;
   color: rgb(51, 255, 207);

}

.blogs
{
 cursor: pointer;
 text-align: center;
 border: 1px solid  white;
 background-color: white;
 font-size: 20px;
 height: 50px;
 width: 70px;
 padding-left: 5px;
 margin-left: 30px;

}
.blogs:hover
{

 text-decoration: none;
 background-color: white;
 color: rgb(51, 255, 207);
}

.placements
{
 cursor: pointer;
 text-align: center;
 border: 1px solid white;
 background-color: white;
 font-size: 20px;
 height: 50px;
 width: 105px;
 padding-left: 5px;
 margin-left: 30px;
}

.placements:hover
{
 text-decoration: none;
 background-color: white;
 color:  rgb(51, 255, 207);
}

.contactus
{
 cursor: pointer;
 text-align: center;
 border: 1px solid white;
 background-color: white;
 font-size: 20px;
 height: 50px;
 width: 105px;
 padding-left: 5px;
 margin-left: 30px;
}
.contactus:hover
{
 text-decoration: none;
 background-color: white;
 color:  rgb(51, 255, 207);
}

.try
{
 cursor: pointer;
 border: 2px solid black;
 border-radius: 5px;
 text-align: center;
 font-size: 15px;
 width: 90px;
 background-color: white;
 margin-left: 15px;
}
.try:hover
{
 text-decoration: none;
 background-color: rgb(6, 4, 52);
 color: aliceblue;
}
 #section{
    background-color: rgb(22, 68, 104);
    height: 900px;

 }
 #con1
 {
    text-align: center;
    font-size: 55px;
    font-family:cursive;
    color: rgb(41, 130, 208);
    text-transform: uppercase;
 }
.con2{
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 250px;
    color: aliceblue;
}
.con3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    color: rgb(167, 205, 14);
    animation-name: con3gold;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    margin-left: 840px;
    margin-top: -70px;
}
@keyframes con3gold{
    from{color: rgb(167, 205, 14);}
    to{color: rgb(81, 71, 16);}
    
}
.con4{
    font-size: 20px;
    color: rgb(253, 253, 254);
}

.box{
    border: none ;
    background-color: rgb(246, 246, 246);
    border-radius: 20px 50px;
    width: 500px;
    height: 750px;
    margin-left: 180px;
}
.con5
{
    text-align: left;
    color: rgb(24, 81, 138);
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: -100px;
}
.con6{
    text-shadow: transparent;
    font-family: cursive;
    color: rgb(76, 88, 9);
    font-size: 30px;
    margin-left: 120px;
    margin-top: -90px;
    animation-name: con6gold;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes con6gold{
    from{color: rgb(76, 88, 9);}
    to{color: goldenrod;}
}
.con7{
    font-size: 15px;
    margin-left: -60px;
}
.con8{
    margin-left: 50px;
    margin-top: -40px;
}
.con9{
    text-align: center;
    margin-left: -250px;
    font-size: larger;
}
.con10{
    margin-left: 190px;
    margin-top: -45px;
}
.con11{
    font-family: monospace;
    font-size: 18px;
    margin-left: 50px;
}
.con11{
    font-family: monospace;
    font-size: 18px;
    margin-left: 50px;
}
.con12{
    font-family: monospace;
    font-size: 18px;
    margin-left: 50px;
}
.con13{
    font-family: monospace;
    font-size: 18px;
    margin-left: 50px;
}
#con14{
    font-family: monospace;
    font-size: 18px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.con15{
    border: 1px solid rgb(32, 170, 216);
    border-radius: 5px solid rgb(25, 190, 219);
    margin-left: 150px;
    font-size: 20px;
    width: 200px;
    height: 60px;
    background-color: rgb(13, 80, 113);
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 100px;
    text-decoration: none;
}
.box2{
    border: none ;
    background-color: rgb(246, 246, 246);
    border-radius: 20px 50px;
    width: 500px;
    height: 750px;
    margin-left: 800px;
    margin-top: -755px;
}
.con16
{
    text-align: left;
    color: rgb(24, 81, 138);
    font-size: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: -100px;
    padding-top: 10px;
}
.con17{
    font-size: 30px;
    margin-left: 200px;
    margin-top: -90px;
    font-family: cursive;
    color: rgb(178, 160, 57);
    animation-name: con17gold;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes con17gold{
    from{color: rgb(178, 160, 57) ;}
    to{color: goldenrod;}
}
.con18{
    font-size: 15px;
    margin-left: -50px;
}
.con19{
    margin-top: -60px;
}
.con20{
    font-size: 20px;
    margin-left: 70px;
    margin-top: -70px;
}
.con21{
    margin-left: 200px;
    margin-top: -45px;
}
.con22
{
    font-size: 16px;
    font-family: monospace;
    margin-left: -50px;
    margin-top: -20px;
}
#con23{
    border: 1px solid rgb(32, 170, 216);
    border-radius: 5px solid rgb(25, 190, 219);
    margin-left: 150px;
    font-size: 20px;
    width: 200px;
    height: 60px;
    background-color: rgb(13, 80, 113);
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 100px;
    text-decoration: none;
}
#footer{
    margin-top: 150px;
    height: 400px;
    background-color: rgba(43, 44, 50, 0.912);
    padding-top: 40px;
    padding-bottom: 20px;

}
.box3{
    border: none ;
    background-color: rgba(43, 44, 50, 0.912);
    border-radius: 20px 50px;
    width: 450px;
    margin-left: 100px;
    border-radius: 20px 50px;
    margin-left: 120px;
    padding-bottom: 50px;
    box-shadow: 500px;
}
#f1{
    padding-top: 60px;
    margin-left: 150px;
    font-size: 25px;
    color: aliceblue;
}
.f2{
    margin-top: 20px;
    font-size: 16px;
    margin-left: 110px;
    color: aliceblue;
}
.f3{
    margin-top: 20px;
    font-size: 16px;
    margin-left: 170px;
    color: aliceblue;
}
.f4{
    
    margin-left: 160px;
    text-decoration: none;
    color: aliceblue;
}
.f4:hover{
    color: rgb(34, 220, 43);
}
#f5
{
    margin-top: 20px;
}
#f6{
    margin-top: 20px;
}
.f7{
    margin-left: 160px;
    text-decoration: none;
    color: aliceblue;
}
.f7:hover{
    color: rgb(34, 220, 43); 
}
#f8{
    margin-top: 20px;
}
.f9{
    margin-left: 160px;
    text-decoration: none;
    color: aliceblue;
}
.f9:hover{
    color: rgb(34, 220, 43); 
}
#f10{
    margin-top: 20px;
}
.f11{
    margin-left: 160px;
    text-decoration: none;
    color: aliceblue;
}
.f11:hover{
    color: rgb(34, 220, 43); 
}
.box4{
    border: transparent  ;
   /* background-color:  rgba(43, 44, 50, 0.912); */
    border-radius: 20px 50px;
    width: 350px;
    height: 300px;
    border-radius: 20px 50px;
    margin-left: 580px;
    margin-top: -350px;
    box-shadow: 500px;
}
.f12{
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    padding-top: 20px;
}
.f13{
    margin-top: 20px;
    text-align: center;
}
#f14{
    text-decoration: none;
    color: aliceblue;
}
#f14:hover{
    color: rgb(34, 220, 43);
}
.f15{
    margin-top: 20px;
    text-align: center;
}
#f16{
    text-decoration: none;
    color: aliceblue;
}
#f16:hover{
    color: rgb(34, 220, 43);
}
.f17{
    margin-top: 20px;
    text-align: center;
}
#f18{
    text-decoration: none;
    color: aliceblue;
}
#f18:hover{
    color: rgb(34, 220, 43);
}
.f19{
    margin-top: 20px;
    text-align: center;
}
#f20{
    text-decoration: none;
    color: aliceblue;
}
#f20:hover{
    color: rgb(34, 220, 43);
}
.f21{
    margin-top: 20px;
    text-align: center;
}
#f22{
    text-decoration: none;
    color: aliceblue;
}
#f22:hover{
    color: rgb(34, 220, 43);
}
.box5{
    border: transparent  ;
  /*  background-color:  rgba(43, 44, 50, 0.912); */
    border-radius: 20px 50px;
    width: 300px;
    height: 300px;
    border-radius: 20px 50px;
    margin-left: 940px;
    margin-top: -300px;
    box-shadow: 500px;
}
.f23{
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    
}
.f24{
    text-decoration: none;
    color: aliceblue;
}
.f24:hover{
    color: rgb(34, 220, 43);
}
.f25{
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
}
.f26{
    text-decoration: none;
    color: aliceblue;
}
.f26:hover{
    color: rgb(34, 220, 43);
}
.f27{
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
}
.f28{
    text-decoration: none;
    color: aliceblue;
}
.f28:hover{
    color: rgb(34, 220, 43);
}
.f29{
    padding-top: 10px;
    text-align: center;
}
.f30{
    text-align: center;
}